* {
    box-sizing: border-box;
}

html,
body {
    background: #000000;
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    overflow: hidden;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#tool-layout {
    display: grid;
    grid-template-columns: 250px 2fr;
    width: 250px;
    height: 100%;
}

#gui-left {
    display: block;
    padding: 15px;
    background: #222222;
    height: 100%;
}

#artboard {
    display: block;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ui-component {
    display: grid;
    padding-bottom: 10px;
}

label {
    padding-bottom: 10px;
    color: #555555;
}

.uiSectionHdl {
    color: #555555;
    font-size: 22px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0px;
    width: 100%;
}

.hrMain {
    border: 1px solid #333333;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hrSub {
    border: 1px solid #282828;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #333333;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
}

input {
    width: 100%;
}

input::file-selector-button,
#resetCanvas,
#eraseBtn {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #333333;
    width: 100%;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    padding-top: 0px;
    margin-bottom: 10px;
}

#eraseBtn.active {
    background: #282828;
    color: #ffffff;
}

#saveImg {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #ffffff;
    width: 100%;
    height: 35px;
    color: #555555;
    font-size: 14px;
    padding-top: 0px;
}

#resetCanvas {
    position: fixed;
    bottom: 55px;
    /* width: 130px; */
    width: 222px;
    height: 35px;
}

#saveImg {
    position: fixed;
    bottom: 15px;
    /* width: 130px; */
    width: 222px;
    height: 35px;
}

#saveVec {
    position: fixed;
    bottom: 15px;
    width: 130px;
    height: 35px;
    left: 155px;
}

#fontSelector {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0px;
    height: 35px;
    padding-left: 10px;
    font-size: 14px;
    color: #ffffff;
}

/* COLOR INPUT */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0px;
    height: 25px;
    padding-left: 0px;
    font-size: 14px;
    color: #ffffff;
}

#colorSelectorA {
    position: relative;
    width: 49%;
}

#colorSelectorB {
    position: relative;
    left: 5px;
    width: 49%;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
}

::-moz-focus-inner {
    padding: 0;
}

#colorSelectorBG,
#rotationValue {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0px;
    height: 35px;
    padding-left: 10px;
    font-size: 14px;
    color: #ffffff;
}

#shapeSelector {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0px;
    height: 35px;
    padding-left: 10px;
    font-size: 14px;
    color: #ffffff;
}

#selectImg {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0px;
    height: 35px;
    padding-left: 10px;
    font-size: 14px;
    color: #ffffff;
}

#txtCaseLabel {
    position: absolute;
    grid-row: 1;
    left: 40px;
    /* top: 245px; */
    padding-top: 3px;
}

#fixedAngleLabel {
    position: absolute;
    grid-row: 1;
    left: 40px;
    padding-top: 3px;
}

#txtCase,
#fixedAngle {
    grid-row: 1;
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #333333;
    border-radius: 0;
    width: 15px;
    height: 15px;
}

#txtCase:checked,
#fixedAngle:checked {
    grid-row: 1;
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    width: 15px;
    height: 15px;
}

#hdlCol {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #555555;
}

input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    background: #555555;
}

textarea {
    resize: none;
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    box-shadow: none;
    background: #555555;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #333333;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
}

output {
    /* color: #ffffff; */
    color: #555555;
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0;
    top: -38px;
    margin-bottom: -40px;
    font-size: 12px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #ffffff;
    width: 15px;
    height: 15px;
}

.info {
    position: fixed;
    bottom: 135px;
    font-weight: 400;
    line-height: 18px;
    color: #555555;
    font-size: 14px;
}

.link {
    font-weight: 400;
    color: #555555;
    font-size: 14px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
